//* - [ Checkbox ] -
@use '../core/variables' as *;

.check-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  &._error {
    .checkbox__label::before {
      box-shadow: 0 0 14px 3px #f16666;
    }
  }

  // .checkbox__input
  &__input {
    display: none;

    &:checked + .check-box__icon .icon-angle-down {
      scale: 1;
      opacity: 1;
    }
  }

  // .checkbox__label
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    line-height: 120%;
    overflow: hidden;
    background: #00000000;
    border-radius: 4px;
    border: 1px solid $color-Rouse;

    &::before {
      content: '';
      position: relative;
      z-index: 9;
      flex: 0 0 22px;
      height: 22px;
      width: 22px;
      align-self: center;
      // border: 1px solid $color-Rouse;
      // border-radius: 4px;
      cursor: pointer;
    }

    ._icon {
      position: relative;
      top: 0;
      left: 0;

      height: 22px;
      width: 22px;

      &::before {
        font-size: 30px;
        filter: contrast(150%);
      }
    }
  }

  // .checkbox__icon
  &__icon {
    position: absolute;
    height: 22px;
    width: 22px;
    .icon-angle-down {
      transition: scale 0.3s ease-in-out;
      scale: 0;
    }
  }

  // .check-box__text
  &__text {
    filter: contrast(150%);
    font-size: 12px;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
