@use 'core/all.scss' as *;

.slide {
	// .slide__body
	&__body {
		padding: 0;
	}

	// .slide__column
	&__slide-column {
		&.swiper-slide {
			transition:
				transform 1s ease,
				opacity 1s ease;
			transform: scale(0.87);
		}

		&.swiper-slide-active + * {
			transform: scale(1);
			opacity: 1;
		}
	}

	// .slide__image
	&__image {
		img {
			width: 100%;
			display: block;
			height: 100%;
			border-radius: 0.4rem;
			object-fit: cover;
			box-shadow: 0 0 20px #383838;
			overflow: hidden;

			@include screen-620 {
				max-height: 390px;
			}
		}
	}

	// .slide__control
	&__control {
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 11;
	}

	// .slide__pagination
	&__pagination {
		width: auto;
		display: flex;
		align-items: center;
		gap: 2rem;
		padding: 3rem 0.5rem 3rem 0;

		.swiper-pagination-bullet {
			cursor: pointer;
			filter: contrast(190%);
			display: block;
			background-color: $color-fern;
			opacity: 1;
			border-radius: 0.1rem;
			width: 1rem;
			height: 1rem;
			transition:
				transform 0.5s ease,
				background-color 0.5s ease,
				scale 0.5s ease;
		}

		.swiper-pagination-bullet-active {
			background-color: $color-arricot;
			scale: 1.5;
		}
	}

	// .slide__slide-button
	&__slide-button {
		position: relative;
		display: flex;
		align-items: center;
		padding: 3rem 0 3rem 0.5rem;
	}

	// .slide__prev
	&__prev {
		cursor: pointer;
		width: auto;
		left: 0;
		top: auto;
		display: flex;
		align-items: center;
		filter: contrast(190%);

		&::before {
			content: 'next';
			position: relative;
			font-family: swiper-icons;
			font-size: 1.6rem;
			font-weight: 900;
			color: $color-fern;
			top: 1px;
			display: flex;
			align-items: center;
			transform: rotate(-180deg);
			text-transform: none !important;
			letter-spacing: 0;
			font-variant: initial;
			line-height: 1;
		}
	}

	// .slide__next
	&__next {
		cursor: pointer;
		width: auto;
		right: 0;
		top: auto;
		display: flex;
		align-items: center;
		filter: contrast(190%);

		&::after {
			content: 'next';
			position: relative;
			font-family: swiper-icons;
			font-size: 1.6rem;
			font-weight: 900;
			color: $color-fern;
			display: flex;
			align-items: center;

			text-transform: none !important;
			letter-spacing: 0;
			font-variant: initial;
			line-height: 1;
		}
	}

	// .slide__count
	&__count {
		display: flex;
		align-items: center;
		justify-content: center;
		filter: contrast(190%);
	}

	// .slide__value
	&__value {
		font-size: 2.4rem;
		font-weight: 600;
		color: $color-fern;
		width: 100%;
		white-space: nowrap;
	}

	// .slide__line-prev
	&__line-prev {
		width: 36px;
		height: 2px;
		background-color: $color-fern;
		margin-left: 0.5rem;
		margin-right: 1.6rem;
		filter: contrast(190%);
	}

	// .slide__line-next
	&__line-next {
		width: 36px;
		height: 2px;
		background-color: $color-fern;
		margin-left: 1.6rem;
		margin-right: 0.5rem;
		filter: contrast(190%);
	}
}
