@use '../core/all' as *;

.header {
	width: 100%;
	background: transparent;
	display: flex;
	align-items: center;

	&::before {
		z-index: 7;
		opacity: 0;
		content: '';
		position: absolute;
		height: 8rem;
		width: 100%;
		background-size: 111% 200%;
		background-position: 0 0;
		transition: opacity 0.5s ease-in-out;
		animation: fadeOutGradient 0.5s ease-in-out alternate-reverse;
		backdrop-filter: blur(40px);
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		border-bottom: 1px solid $color-fern;
		opacity: 0.3;
		transition: opacity 0.7s ease-in-out;
	}

	&.with-border {
		.header__item {
			filter: contrast(190%);
		}
		&::before {
			backdrop-filter: blur(40px);
			animation: fadeInGradient 1.9s ease-in-out forwards;
			opacity: 1;
		}

		&::after {
			z-index: 7;
		}
	}

	// .header__container
	&__container {
		width: 100%;
		padding-left: 1rem !important;
	}

	// .header__burger-menu
	&__burger-button {
		margin-left: 1rem;
		@include min-768 {
			// display: none;
		}
	}

	// .header__content
	&__content {
		position: relative;
		width: 100%;
		z-index: 8;
		display: flex;
		align-items: center;
		gap: 1rem;
		justify-content: space-between;
	}

	// .header__logo-wrapper
	&__logo-wrpper {
		position: relative;
		z-index: 9;
		display: flex;
		align-items: center;

		@include screen-425 {
			.header__text {
				span {
					font-size: 1.2rem;
				}
			}
		}
	}

	// .header__column
	&__column {
		height: 100%;
		display: flex;
		align-items: center;

		&:nth-child(2) {
			padding: 1.3rem 2rem;
			flex-direction: column;
			justify-content: center;
			position: relative;
		}
	}

	// .header__logo
	&__logo {
		width: 8rem;
		height: 8rem;
		padding: 1rem;
		transform: translateY(40%);
		border: 1px solid #99826a;

		@include screen-375 {
			width: 7rem;
			height: 7rem;
		}
	}

	// .header__menu
	&__menu {
		text-transform: uppercase;
		user-select: none;
		display: flex;
		transition: all 0.4s ease 0s;
		align-items: center;
	}

	// .header__item
	&__item {
		position: relative;

		a {
			transition: all 0.5s ease;
			letter-spacing: 0;
			font-variation-settings:
				'wght' 500,
				'ital' 0;
		}
		filter: contrast(200%);

		&:not(:last-child) {
			margin-right: 2rem;

			@include screen-375 {
				margin-right: 1.8rem;
			}
		}

		&:hover {
			.icon-home {
				&::before {
					transition: all 0.4s ease 0s;
					color: $color-arricot;
				}
			}
		}

		.icon-home {
			&::before {
				transition: all 0.4s ease 0s;
				@extend .text-shadow;
			}
		}

		@include screen-375 {
			font-size: 12px;
		}
	}

	// .header__phone
	&__phone {
		position: absolute;
		top: 100%;
		font-weight: 600;
		padding: 0 0.5rem;
		border-radius: 0.2rem;
		backdrop-filter: blur(30px);

		span {
			filter: contrast(190%);
		}
		@include screen-375 {
			font-size: 10px;
		}
	}

	&__link-key {
		font-weight: 300;

		&:not(:first-child) {
			opacity: 1;
		}
	}

	// .header__button
	&__button {
		pointer-events: all;
		position: relative;
		right: 0;
		top: 0;
		z-index: 9;

		&._active {
			top: 5.2rem;
			animation: fadeInOutButton 0.5s ease-in-out;

			@include screen-1024 {
				top: 7.5rem;
			}

			@include screen-375 {
				top: 8rem;
			}
		}
	}
}

//* ----------------------------------------------------------------------------
.el-community {
	display: flex;
	align-items: center;

	.icon-contacts {
		font-size: 4.4rem;
		margin-right: 1rem;
		transition: all 0.4s ease-in-out;
		color: $gray;

		@include screen-425 {
			margin-right: 0;
		}

		@include screen-690 {
			font-size: 34px;
		}
	}
}

//* ----------------------------------------------------------------------------
.network-menu {
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	filter: contrast(150%);

	// .network-menu__body
	&__body {
		position: relative;
	}

	// .network-menu__links
	&__links {
		overflow: hidden;
		use {
			fill: $color-fill;
		}

		&._rotate {
			.network-menu__circle-svg {
				transform: rotate(0);
			}
		}
	}

	// .network-menu__social-link
	&__social-link {
		pointer-events: all;
		z-index: 99;
	}

	// .network-menu__circle-svg
	&__circle-svg {
		pointer-events: all;
		transform: translateX(2px) rotate(179deg);
		transform-origin: 92px 92px;
		transition: opacity 0.5s steps(1, end);
		transition:
			transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
			opacity 0.5s steps(1, end);
		transition:
			transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
			opacity 0.5s steps(1, end);
	}

	// .network-menu__rings
	&__rings {
		pointer-events: all;
	}
}
//* ----------------------------------------------------------------------------
@keyframes fadeOutGradient {
	100% {
		background-position: 100% 0;
	}
}

@keyframes fadeInGradient {
	100% {
		background-position: 100% 0;
	}
}

//* ----------------------------------------------------------------------------

@keyframes fadeInOutButton {
	0% {
		scale: 0;
	}

	100% {
		scale: 1;
	}
}
//* ----------------------------------------------------------------------------
