.order-place._container
	._body 
		._title
			h2.t-h2 
				span Оставьте заявку и&nbsp;наш специалист перезвонит вам в&nbsp;ближайшее время
		._content
			form(action="#" metod="get" id="form").order-form._form
				._line 
					._col-line
						label(for="name")._lebel
						._input
							input(type="text" id="name" placeholder="*имя" autocomplete="off" name="name" error="Обязательное поле").p-text-20
					._col-line
						label(for="service")._lebel
						include ../modules/itsSelect 
				._line 
					._col-line
						label(for="phone")._lebel
						._input
							input(type="tel" id="phone" placeholder="+375 33 (___) ___-__-__" autocomplete="on" name="name" error="Обязательное поле").phone.p-text-20
					._col-line
						butoon.button
							span.p-text-20 Оформить заказ 
				._line
					include ../chunks/check-box



