.perform.el-opacity
	._body 
		._container 
			._content
				._column.el-1.clipped-box 
					hgroup.hgroup-items.text-shadow  
						h1._item.t-h1
							span Швейная фабрика «ГОРИЗОНТ»
						h2.t-h2 прозводство одежды любой сложности
					._text 
						._float-left.hide 
							p.t-01 Пошив сорочек и блузок для мужчин, женщин и детей любой сложности. 
							p.t-01 Широкий ассортимент швейных изделий для бизнеса
							p.t-01 Высокое качество, полный контроль на всех этапах производства
							p.t-01 Качество, быстрота исполнения, приемлимые цены 

						._float-left
							p.t-01 Пошив сорочек и блузок для мужчин, женщин и детей любой сложности. 
							p.t-01 Широкий ассортимент швейных изделий для бизнеса
							p.t-01 Высокое качество, полный контроль на всех этапах производства
							p.t-01 Качество, быстрота исполнения, приемлимые цены 
				._column
					.slide._slide-perform 
						._body._swiper.news-slide
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/1.jpg" alt="slide-1") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/2.jpg" alt="slide-1") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/3.jpg" alt="slide-1") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/4.jpg" alt="slide-1") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/5.jpg" alt="slide-1") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/6.jpg" alt="slide-1") 
						._control 
							._pagination 
							._slide-button
								//- ._prev
									._line-prev
								._count
									._value
								._next
									._line-next

