.perform.el-opacity 
	._body._container
		._title
			h1
				span.tl-1 Горизонт
				span.tl-2 Швейная фабрика 
		._content
			._column 
				._items.tl-3
					._title-text
						h3.t-h3 
							span Производство одежды любой сложности
					._text 
						._shape-block
							|&nbsp;  
						._text-block 
							p.p-text-20 Пошив сорочек и блузок для мужчин, женщин и детей любой сложности 
							p.p-text-20 Широкий ассортимент швейных изделий для бизнеса
							p.p-text-20 Высокое качество, полный контроль на всех этапах производства
							p.p-text-20 Качество, быстрота исполнения, приемлемые цены
				._items.tl-4
					a(href="#order")._item-order.button.anchor-link
						span оформит заказ
			._column 
				.slide._slide-perform.tl-5 
					._body._swiper.main-slide
						._slide-column 
							._image._img 
								img(src="@@webRoot/img/slides/1.jpg" alt="slide-1") 
						._slide-column 
							._image._img 
								img(src="@@webRoot/img/slides/2.jpg" alt="slide-1") 
						._slide-column 
							._image._img 
								img(src="@@webRoot/img/slides/3.jpg" alt="slide-1") 
						._slide-column 
							._image._img 
								img(src="@@webRoot/img/slides/4.jpg" alt="slide-1" loading="lazy") 
						._slide-column 
							._image._img 
								img(src="@@webRoot/img/slides/5.jpg" alt="slide-1" loading="lazy") 
						._slide-column 
							._image._img 
								img(src="@@webRoot/img/slides/6.jpg" alt="slide-1" loading="lazy") 
						._slide-column 
							._image._img 
								img(src="@@webRoot/img/slides/7.jpg" alt="slide-1" loading="lazy") 
					._control 
						._pagination 
						._slide-button 
							._count
								._value
							._next
								._line-next
		._footer
			.arrow.anime
				span 
				span
