.partners
	._body._container 
		._title
			h2.t-h2  Наши партнёры
		._content
			.partners-slide._slide
				._body._swiper.slide-partners 
					._column
						._image 
							img(src="@@webRoot/img/partners/mcdonalds.png" alt="image") 
					._column
						._image 
							img(src="@@webRoot/img/partners/metro.png" alt="image") 
					._column
						._image 
							img(src="@@webRoot/img/partners/mm-logo.png" alt="image")
					._column
						._image 
							img(src="@@webRoot/img/partners/respekt.png" alt="image") 
					._column
						._image 
							img(src="@@webRoot/img/partners/mcdonalds.png" alt="image") 