.services 
	.bg-bottom-t
	._body._container
		._title 
			h2.t-h2 
				span Услуги
		._content 
			._column
				.card
					._title 
						._icon 
							+iconfont('fabric-patterns', '_icon')
						h4.t-h4 
							span Разработка лекал
					._text 
						p.t-01 Квалифицированные конструкторы фабрики разрабатывают лекала любой сложности и подскажут оптимальные решения при подборе модели.
			._column
				.card
					._title 
						._icon 
							+iconfont('assortment', '_icon')
						h4.t-h4 
							span Подбор образцов изделий
					._text 
						p.t-01 Подберём подходящую ткань, учитывая свойства материала и ваши требования, чтобы обеспечить комфорт и практичность готового изделия.
			._column
				.card
					._title 
						._icon 
							+iconfont('sewing', '_icon')
						h4.t-h4 
							span Пошив на заказ
					._text 
						p.t-01 Предлагаем комплекс услуг по пошиву одежды оптом и на заказ. Производственные мощности фабрики оснащены всем необходимым современным оборудованием для выполнения заказов любой сложности.
			._column
				.card
					._title 
						._icon
							+iconfont('quality', '_icon')
						h4.t-h4 
							span Брендирование
					._text 
						p.t-01 Осуществляем брендирование изделий в соответствии с корпоративным стилем заказчика, от логотипа до уникальных декоративных элементов.
			._column
				.card
					._title 
						._icon 
							+iconfont('package', '_icon')
						h4.t-h4 
							span Маркировка и упаковка
					._text 
						p.t-01 Осуществляем полный цикл подготовки изделий к отгрузке: контроль качества, удаление брака, утюжка, маркировка и упаковка.
			._column
				.card
					._title 
						._icon
						h4 
					._text 
						p 