.catalog._container
	.catalog__body
		.catalog__title
			h1 Каталог товаров
		.catalog__content
			//  Здесь будут элементы каталога 
			.catalog-item
				.catalog-item__images
					.catalog-item__image
						img.catalog-item__image--front(src="img/catalog/front-view-1.png" alt="Вид спереди")
					.catalog-item__image
						img.catalog-item__image--back(src="img/catalog/back-view-1.png" alt="Вид сзади")
				.catalog-item__details
					h3.catalog-item__model 2229 - зауженный с выточками
					p.catalog-item__sizes
						span.catalog-item__size-label Обхват шеи:
						|  37-45
						br
						span.catalog-item__size-label Обхват груди:
						|  88-116
						br
						span.catalog-item__size-label Рост:
						|  164-174; 176-184; 186-194 
			.catalog-item
				.catalog-item__images
					.catalog-item__image
						img.catalog-item__image--front(src="img/catalog/front-view-2.png" alt="Вид спереди")
					.catalog-item__image
						img.catalog-item__image--back(src="img/catalog/back-view-2.png" alt="Вид сзади")
				.catalog-item__details
					h3.catalog-item__model 2898 - зауженный
					p.catalog-item__sizes
						span.catalog-item__size-label Обхват шеи:
						|  37-46
						br
						span.catalog-item__size-label Обхват груди:
						|  88-120
						br
						span.catalog-item__size-label Рост:
						|  164-174; 176-184; 186-194
			.catalog-item
				.catalog-item__images
					.catalog-item__image
						img.catalog-item__image--front(src="img/catalog/front-view-3.png" alt="Вид спереди")
					.catalog-item__image
						img.catalog-item__image--back(src="img/catalog/back-view-3.png" alt="Вид сзади")
				.catalog-item__details
					h3.catalog-item__model 2898 - зауженный
					p.catalog-item__sizes
						span.catalog-item__size-label Обхват шеи:
						|  37-46
						br
						span.catalog-item__size-label Обхват груди:
						|  88-120
						br
						span.catalog-item__size-label Рост:
						|  164-174; 176-184; 186-194
			.catalog-item
				.catalog-item__images
					.catalog-item__image
						img.catalog-item__image--front(src="img/catalog/front-view-4.png" alt="Вид спереди")
					.catalog-item__image
						img.catalog-item__image--back(src="img/catalog/back-view-4.png" alt="Вид сзади")
				.catalog-item__details
					h3.catalog-item__model 2898 - зауженный
					p.catalog-item__sizes
						span.catalog-item__size-label Обхват шеи:
						|  37-46
						br
						span.catalog-item__size-label Обхват груди:
						|  88-120
						br
						span.catalog-item__size-label Рост:
						|  164-174; 176-184; 186-194
			.catalog-item
				.catalog-item__images
					.catalog-item__image
						img.catalog-item__image--front(src="img/catalog/front-view-5.png" alt="Вид спереди")
					.catalog-item__image
						img.catalog-item__image--back(src="img/catalog/back-view-5.png" alt="Вид сзади")
				.catalog-item__details
					h3.catalog-item__model 2898 - зауженный
					p.catalog-item__sizes
						span.catalog-item__size-label Обхват шеи:
						|  37-46
						br
						span.catalog-item__size-label Обхват груди:
						|  88-120
						br
						span.catalog-item__size-label Рост:
						|  164-174; 176-184; 186-194
			.catalog-item
				.catalog-item__images
					.catalog-item__image
						img.catalog-item__image--front(src="img/catalog/front-view-6.png" alt="Вид спереди")
					.catalog-item__image
						img.catalog-item__image--back(src="img/catalog/back-view-6.png" alt="Вид сзади")
				.catalog-item__details
					h3.catalog-item__model 2898 - зауженный
					p.catalog-item__sizes
						span.catalog-item__size-label Обхват шеи:
						|  37-46
						br
						span.catalog-item__size-label Обхват груди:
						|  88-120
						br
						span.catalog-item__size-label Рост:
						|  164-174; 176-184; 186-194
			.catalog-item
				.catalog-item__images
					.catalog-item__image
						img.catalog-item__image--front(src="img/catalog/front-view-7.png" alt="Вид спереди")
					.catalog-item__image
						img.catalog-item__image--back(src="img/catalog/back-view-7.png" alt="Вид сзади")
				.catalog-item__details
					h3.catalog-item__model 2898 - зауженный
					p.catalog-item__sizes
						span.catalog-item__size-label Обхват шеи:
						|  37-46
						br
						span.catalog-item__size-label Обхват груди:
						|  88-120
						br
						span.catalog-item__size-label Рост:
						|  164-174; 176-184; 186-194
			.catalog-item
				.catalog-item__images
					.catalog-item__image
						img.catalog-item__image--front(src="img/catalog/front-view-8.png" alt="Вид спереди")
					.catalog-item__image
						img.catalog-item__image--back(src="img/catalog/back-view-8.png" alt="Вид сзади")
				.catalog-item__details
					h3.catalog-item__model 2898 - зауженный
					p.catalog-item__sizes
						span.catalog-item__size-label Обхват шеи:
						|  37-46
						br
						span.catalog-item__size-label Обхват груди:
						|  88-120
						br
						span.catalog-item__size-label Рост:
						|  164-174; 176-184; 186-194
			.catalog-item
				.catalog-item__images
					.catalog-item__image
						img.catalog-item__image--front(src="img/catalog/front-view-9.png" alt="Вид спереди")
					.catalog-item__image
						img.catalog-item__image--back(src="img/catalog/back-view-9.png" alt="Вид сзади")
				.catalog-item__details
					h3.catalog-item__model 2898 - зауженный
					p.catalog-item__sizes
						span.catalog-item__size-label Обхват шеи:
						|  37-46
						br
						span.catalog-item__size-label Обхват груди:
						|  88-120
						br
						span.catalog-item__size-label Рост:
						|  164-174; 176-184; 186-194
