.price
	.bg-bottom-r
	._body._container
		._title 
			h2.t-h2 
				span НАШИ ЦЕНЫ
			h4.t-h4
				span Прайс на пошив основных изделий
		._content 
			._row 
				._info.t-01 
					p Минимальный заказ от 1000 единиц (это 2 дня работы для швей)
				._info
					p.t-01 Все цены указаны в ознакомительных целях и рассчитываются <strong> ИНДИВИДУАЛЬНО </strong>для каждого изделия исходя из его особенностей, сложности пошива, выбранных тканей и тиража
			._row 