.perform.el-opacity
	//- .bg-image
		._image 
			img(src="@@webRoot/img/parallax/prew.jpg" alt="image")
	._body._container
		._title
			h1._item.t-h1.el-2 
				span ГОРИЗОНТ
				span Швейная фабрика 
		._content
			._column.el-1.clipped-box 
				._items
					hgroup.hgroup-items._title 

						h3._item.t-h3 прозводство одежды любой сложности
					._text 
						._shape-block
							|&nbsp;  
						._text-block 
							p.t-01 Пошив сорочек и блузок для мужчин, женщин и детей любой сложности 
							p.t-01 Широкий ассортимент швейных изделий для бизнеса
							p.t-01 Высокое качество, полный контроль на всех этапах производства
							p.t-01 Качество, быстрота исполнения, приемлимые цены 
			._column
				._items
					.slide._slide-perform 
						._body._swiper.main-slide
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/1.jpg" alt="slide-1") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/2.jpg" alt="slide-1") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/3.jpg" alt="slide-1") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/4.jpg" alt="slide-1" loading="lazy") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/5.jpg" alt="slide-1" loading="lazy") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/6.jpg" alt="slide-1" loading="lazy") 
							._slide-column 
								._image._img 
									img(src="@@webRoot/img/slides/7.jpg" alt="slide-1" loading="lazy") 
						._control 
							._pagination 
							._slide-button 
								._count
									._value
								._next
									._line-next
		._footer
			.arrow.anime
				span 
				span


