.price 
	._container
		._body.trigger-gs 
			._title
				._hgroup.el-1 
					h2.t-h2 
						span НАШИ ЦЕНЫ
					h4.t-h4 
						span Прайс на пошив основных изделий
			._content 
				._row 
					._info.p-text-20 
						p Минимальный заказ от 1000 единиц (это&nbsp;2&nbsp;дня&nbsp;работы&nbsp;для&nbsp;швей)
					._info
						p.p-text-20 Стоимость каждого изделия формируется <strong> персонально </strong>, чтобы вы получили лучшее качество по честной цене. Мы учитываем все детали: дизайн, материалы, сложность пошива и&nbsp;тираж — ваш заказ будет полностью соответствовать вашим ожиданиям.
				._row 