.products 
	._container
		._body
			._title.trigger-gs  
				h2.t-h2.el-1 
					span Продукция
			._content
				._row
					._title-group  
						h4.t-h4
							span Мужская одежда
					ul.categories._categories
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/men-01.webp" alt="image")
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/men-02.webp" alt="image")
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/men-03.webp" alt="image")
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/men-04.webp" alt="image")
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/men-05.webp" alt="image")
				._row
					._title-group  
						h4.t-h4
							span Женская одежда
					ul.categories._categories
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/wmn-01.webp" alt="image")
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/wmn-02.webp" alt="image")
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/wmn-03.webp" alt="image")
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/wmn-04.webp" alt="image")
						li._item 
							span 
								img(src="@@webRoot/img/product/catalog/wmn-05.webp" alt="image")