.services
	._body._container
		._title 
			h2.t-h2 
				span НАШИ УСЛУГИ
		._content 
			._column
				.card
					._title 
						._image 
							img(src="@@webRoot/img/icons/p-01.svg" alt="icon")
						h4.t-h4 
							span Разработка и изготовление лекал
					._text 
						p.t-01 На нашей фабрике работают квалифицированные конструкторы, способные создать лекала любой сложности и помогут вам определиться с интересующей вас моделью.
			._column
				.card
					._title 
						._image 
							img(src="@@webRoot/img/icons/p-01.svg" alt="icon")
						h4.t-h4 
							span Подборка тканей
					._text 
						p.t-01 Поможем подобрать ткань для вашего изделия, учитывая все особенности и свойства. Чтобы в ваших изделиях было комфортно.
			._column
				.card
					._title 
						._image 
							img(src="@@webRoot/img/icons/p-01.svg" alt="icon")
						h4.t-h4 
							span Пошив на заказ
					._text 
						p.t-01 Предоставляем комплексный пакет услуг в сфере пошива одежды оптом и на заказ. Имеем все необходимое высокопроизводительное оборудование для выполнения любых заказов.
			._column
				.card
					._title 
						._image 
							img(src="@@webRoot/img/icons/p-01.svg" alt="icon")
						h4.t-h4 
							span Брендирование
					._text 
						p.t-01 Печатаем уникальные этикетки и лейблы по Вашему запросу.
			._column
				.card
					._title 
						._image 
							img(src="@@webRoot/img/icons/p-01.svg" alt="icon")
						h4.t-h4 
							span Маркировка и упаковка
					._text 
						p.t-01 Полностью подготавливаем изделие к отправке на ВБ: утюжка, проверка качества изделий на брак, маркировка изделий и упаковка.
			._column
				.card
					._title 
						._image 
						h4 
					._text 
						p 