.stage-swork 
	._container
		._body.trigger-gs 
			._title 
				h2.t-h2.el-1 
					span Как мы работаем
			._content 
				._column.lag-1 
					.tab-list._list.card-gs 
						._lisy-item.el-item
							._number 1
							p._item-text.p-text-20 <strong>Оставляете заявку:</strong> на сайте или звоните нам по номеру телефона указанном на сайте
						._lisy-item.el-item
							._number 2
							p._item-text.p-text-20 <strong>Косультация:</strong> Наш специалист свяжется с Вами, для уточнения деталей
						._lisy-item.el-item
							._number 3
							p._item-text.p-text-20 <strong>Заключение договора:</strong> Подготовка текста договора с учётом требований сторон, согласование условий (объём работ, сроки, оплата, ответственность)
						._lisy-item.el-item
							._number 4
							p._item-text.p-text-20 <strong>Расчет стоимости и сроков:</strong> Проработка технологических узлов и качества изделий до полного соответствия с ТЗ
						._lisy-item.el-item
							._number 5
							p._item-text.p-text-20 <strong>Изготовление:</strong> Отшив партии в соответствии с согласованными образцами
						._lisy-item.el-item
							._number 6
							p._item-text.p-text-20 <strong>Упаковка, маркировка и логистика:</strong> Мы подготавливаем продукция сразу же для продажи, делаем всю необходимую маркировку и осуществляем логистику, в том числе и экспедирование до складов маркетплейсов 
				._column.lag-2 
					._item.--bd-right.--bd-bottom  
						._icon 
							+iconfont('order-list', '_icon')
						._text 
							span.p-text-20 Оставляете заявку
					._item.--bd-bottom   
						._icon 
							+iconfont('services', '_icon')
						._text 
							span.p-text-20 Консультация
					._item.--bd-right.--bd-bottom   
						._icon 
							+iconfont('hand-shake', '_icon')
						._text 
							span.p-text-20 Заключение договора
					._item.--bd-bottom 
						._icon 
							+iconfont('calculator', '_icon')
						._text 
							span.p-text-20 расчет стоимости и сроков
					._item.--bd-right 
						._icon 
							+iconfont('sewing', '_icon')
						._text 
							span.p-text-20 Изготовление (отшив партии)
					._item   
						._icon 
							+iconfont('delivery', '_icon')
						._text 
							span.p-text-20 Упаковка, маркировка и логистика
