.services 
	._container
		._body.trigger-gs.card-gs
			._title 
				h2.t-h2.el-1
					span Услуги
			._content 
				._column 
					.card.el-item
						._title 
							._icon 
								+iconfont('fabric-patterns', '_icon')
							h4.t-h4 
								span Разработка лекал
						._text 
							p.p-text-20 Квалифицированные конструкторы фабрики разрабатывают лекала любой сложности и&nbsp;подскажут оптимальные решения при&nbsp;подборе модели.
				._column 
					.card.el-item
						._title 
							._icon 
								+iconfont('assortment', '_icon')
							h4.t-h4 
								span Подбор образцов изделий
						._text 
							p.p-text-20 Подберём подходящую ткань, учитывая свойства материала и&nbsp;ваши требования, чтобы обеспечить комфорт и практичность готового изделия.
				._column 
					.card.el-item
						._title 
							._icon 
								+iconfont('sewing', '_icon')
							h4.t-h4 
								span Пошив оптом
						._text 
							p.p-text-20 Предлагаем комплекс услуг по пошиву одежды оптом и&nbsp;на заказ. Производственные мощности фабрики оснащены всем необходимым современным оборудованием для выполнения заказов любой сложности.
				._column 
					.card.el-item
						._title 
							._icon
								+iconfont('quality', '_icon')
							h4.t-h4 
								span Брендирование
						._text 
							p.t-01 Брендирование изделий в&nbsp;соответствии с&nbsp;корпоративным стилем заказчика, от логотипа до уникальных декоративных элементов.
				._column 
					.card.el-item
						._title 
							._icon 
								+iconfont('package', '_icon')
							h4.t-h4 
								span Маркировка и упаковка
						._text 
							p.p-text-20 Осуществляем полный цикл подготовки изделий к&nbsp;отгрузке: контроль качества, удаление брака, утюжка, маркировка и упаковка готовой продукции под вашим брендом или торговой маркой.
				._column 
					.card.el-item
						._title 
							._icon 
								+iconfont('delivery', '_icon')
							h4.t-h4 
								span Доставка и логистика
						._text 
							p.p-text-20 Помощь в сопровождении первой поставки, логистика 
						._info
							+iconfont('information-outline', '_icon')