.about
	.bg-bottom-r
	._body._container
		._title 
			h2.t-h2 
				span О нас
		._content 
			._pictures
				._image 
					img(src="@@webRoot/img/product/image-01.jpg" alt="image")
				._image 
					img(src="@@webRoot/img/product/image-02.jpg" alt="image")
				._image 
					img(src="@@webRoot/img/product/image-03.jpg" alt="image") 
			//- ._column 
			._text 			
				._title-text
					h3.t-h3  
						span Витебская швейная фабрика «ГОРИЗОНТ»
				p.t-01  Наша команда профессионалов динамично развивается и&nbsp;предлагает полный цикл пошива трикотажной одежды. Мы работаем с&nbsp;женскими, детскими и&nbsp;мужскими коллекциями, гибко подстраиваясь под индивидуальные запросы заказчиков.
			._text 
				p.t-01 Вот уже&nbsp;25&nbsp;лет мы являемся производителем сорочек и&nbsp;блузок для мужчин, женщин и&nbsp;детей.
				p.t-01 Фабрика выпускает изделия любой сложности и&nbsp;гарантирует высокое качество пошива — не&nbsp;менее&nbsp;5&nbsp;стежков на&nbsp;1&nbsp;см.
				p.t-01 Мы производим классические рубашки, рубашки для униформы, женские халаты из&nbsp;ткани, а&nbsp;также сорочки больших размеров и&nbsp;на&nbsp;высокий рост. 
				p.t-01 Размерный ряд: детские сорочки — рост от&nbsp;110&nbsp;см, мужские сорочки — до&nbsp;52&nbsp;размера воротника включительно (10XL по&nbsp;международной таблице размеров).
				p.t-01 Все модели разрабатываются с&nbsp;учётом индивидуальных запросов заказчика.
				p.t-01 Минимальный заказ — от&nbsp;1&nbsp;000&nbsp;единиц (это 2&nbsp;рабочих дня для нашей швейной команды).
			//- ._column


