@use 'sass:string'; // Импортируем модуль string
$icon-font-family: 'icon-set' !default;
$icon-font-path: '../fonts' !default;

$icon-angle-left: string.unquote('"\\f104"');
$icon-angle-right: string.unquote('"\\f105"');
$icon-angle-up: string.unquote('"\\f106"');
$icon-angle-down: string.unquote('"\\f107"');
$icon-package: string.unquote('"\\e90b"');
$icon-fabric-pattern: string.unquote('"\\e906"');
$icon-fabric-patterns: string.unquote('"\\e907"');
$icon-sewing: string.unquote('"\\e908"');
$icon-marks: string.unquote('"\\e900"');
$icon-bookmark-o: string.unquote('"\\f097"');
$icon-assortment: string.unquote('"\\e901"');
$icon-quality: string.unquote('"\\e902"');
$icon-youtube: string.unquote('"\\f167"');
$icon-delivery: string.unquote('"\\e905"');
$icon-whatsapp: string.unquote('"\\f232"');
$icon-vk-brand: string.unquote('"\\f189"');
$icon-telegram-fly: string.unquote('"\\e91b"');
$icon-location: string.unquote('"\\e909"');
$icon-information-outline: string.unquote('"\\e90a"');
$icon-bookmarks: string.unquote('"\\e938"');
$icon-viber: string.unquote('"\\e93c"');
$icon-bookmarks1: string.unquote('"\\e9d3"');
$icon-services: string.unquote('"\\e903"');
$icon-phone-ringing: string.unquote('"\\e904"');
