//* ------------------------------- [Variables] --------------------------------
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1440px;
$headerHeight: 4rem;
$footerHeight: 4rem;
$sidebarWidth: 4rem;
$titleHeight: 3rem;
$min-height: calc(100% - ($headerHeight + $footerHeight));
//* ---------------------------- [Font Variables] ------------------------------
$font-path: '../fonts';
$font-default: 'Source Sans 3', sans-serif;
$font-weight-default: 400;
$font-size: 1.6rem;
$font-size-default: 1.4rem;
//* -------------------------------- [Color] -----------------------------------
$color-warm: #ffefcd;
$color-ivory: #fff4db;
$color-fern: #8a9064;
$color-fill-dark: #211041;
$color-fill: #48386b;
$color-fill-light: #7e6aa8;
$color-Rouse: #e887be;
$color-Blue: #d2eaff;
$color-fill-transparent: #d3cbe5;
$color-dgreen: #304537;

$background-color: rgb(248, 245, 255);
$background-color-transparent: rgba(19, 19, 22, 0.9);

$color: rgb(26, 21, 48);
$color-secondary: rgb(51, 39, 100);
$blue-color-transparent: rgba(73, 87, 123, 0.404);
$border-color: rgb(30, 32, 46);

//* ---------------------------- [Other colors] --------------------------------
$boxShadow: 3px 3px 10px 0 rgba(36, 18, 33, 0.3);
$BlackShadow: rgb(9, 17, 22);
$filter: drop-shadow(1px 0px 3px rgb(32, 25, 71)) invert(5%);
//* ----------------------------------------------------------------------------
$text-title: rgb(143, 242, 255);
$text-selection: rgba(0, 84, 99, 0.247);
$text-color-selection: rgb(155, 153, 153);
$text-shadow-color: 0 0 1px #b0b0f9;
//* ----------------------------------------------------------------------------
:root {
	--background-color-transparent: rgba(19, 19, 22, 0.79);
	--font-body-color: #ffefcd;
	--font-color-second: #424539;
	--font-color-title: rgb(136, 192, 255);
	--font-color-active: rgb(119, 150, 243);
	--font-color-not-active: rgba(139, 176, 255, 0.424);
	//* ---------------------------- [Background] --------------------------------
	--background-color: rgb(248, 245, 255);
	--background-second: rgb(2, 10, 16);
	--background-selected: rgba(43, 45, 65, 0.337);
	//* ---------------------------- [Scrollbar] ---------------------------------
	--selected-color: rgb(113, 203, 255);
	--themes-color: rgb(94, 77, 168);
	--background-thumb: rgb(22, 22, 30);
	--scrollbar-thumb-bgcolor: rgb(71, 83, 45);
	//* -------------------------- [Other colors] --------------------------------
	--border-color: rgba(60, 84, 141, 0.286);
	--color-active: rgb(4, 217, 255);
	// ---------------------------------------------------------------------------
	--pos: center center;
	--size: 0;
	--inset-top: 0;
	--inset-right: 100%;
	--inset-bottom: 100%;
	--inset-left: 0;
	// ---------------------------------------------------------------------------
	--stripe-width: 10px;
	--nav-marker-border: rgb(59, 134, 134);
	--sidebar-width: 28.5rem;
	--duration: 0.3s;

	--button-size: 4rem;
	--mob-expanded-width: 320px;
	--mob-collapsed-width: 4rem;
}

$snap: cubic-bezier(1, 0.005, 0.24, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
