nav.burger-menu.accelerate.hide
	._body.accelerate
		._content.accelerate
			._menu.accelerate
				._menu-header.bp-2
					p Витебская швейная фабрика
					span «ГОРИЗОНТ» 
				._menu-content.bp-1

				._menu-footer
					.network-icons
						._links
							a(href="https://github.com/Dennchik" target="_blank" aria-label="Git-Hub")._icon-link
								+iconfont('git-hub-circle', '_icon')
							a(href="https://t.me/allexandrw" target="_blank" aria-label="Telegram")._icon-link
								+iconfont('telegram-fly', '_icon')
							a(href="https://wa.me/79852605079" target="_blank" aria-label="WhatsApp")._icon-link
								+iconfont('whatsapp', '_icon')