.cookies-accept
	._body
		._content 
			._text
				p Продолжая просмотр этого сайта, Вы&nbsp;соглашаетесь на&nbsp;обработку файлов cookie&nbsp;в&nbsp;соответствии с&nbsp;
					a(href="#") 
						strong Политикой&nbsp;использования&nbsp;Cookie.
			._button.button
				span Принять