.order-form__select-tipe(data-select)
	.select
		._input
			input(type="text" value="Выберите услугу" id="service")._button.t-01
			+iconfont('angle-right', '_icon')
		ul._list._collapse
			li(value='Разработка лекал')._item._selected Разработка лекал
			li(value='Подбор образцов изделий')._item Подбор образцов изделий
			li(value='Пошив оптом')._item Пошив оптом
			li(value='Брендирование')._item Брендирование
			li(value='Маркировка и упаковка')._item Маркировка и упаковка