extends ../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/catalog.min.css")
prepend script
	+script(`${webRoot}/js/vendors/runtime.min.js`)
	//- script(defer src="@@webRoot/js/vendors/anime-vendors.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/swiper-bundle.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/react-vendors.min.js")
block title
	- var text='"Каталог"'

block main-content
	section.main-content__sections 
		include ../sections/section-catalog

