extends ../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script
	+script(`${webRoot}/js/index.min.js`) 
	script(defer src="@@webRoot/js/vendors/runtime.min.js")
	//- script(defer src="@@webRoot/js/vendors/anime-vendors.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/swiper-bundle.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/react-vendors.min.js")
block title
	- var text='"Витебская швейная фабрика ГОРИЗОНТ"'

block main-content
	section.main-content__sections.top-box
		.bg-image
			._image 
				img(src="@@webRoot/img/parallax/prew.jpg" alt="image")
		include ../sections/section-perform
		.bg-bottom 
		include ../layouts/page-grid-4
	section.main-content__sections#about
		include ../sections/section-about
		include ../layouts/page-grid-3
	section.main-content__sections#partners
		include ../sections/section-partners
		//- section.main-content__footer
			include ../layouts/footer 
//- block content-hidden
//- include ../chunks/content-hidden
//- block project-list
	aside.main-content__project-list
		include ../modules/project-list