extends ../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script
	+script(`${webRoot}/js/vendors/runtime.min.js`)
	//- script(defer src="@@webRoot/js/vendors/anime-vendors.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/swiper-bundle.min.js")
	//- script(defer="defer" src="@@webRoot/js/vendors/react-vendors.min.js")
block title
	- var text='"Витебская швейная фабрика ГОРИЗОНТ"'

block main-content
	section.main-content__sections.top-box
		include ../sections/section-perform
	section.main-content__sections#about
		include ../sections/section-about
	section.main-content__sections#services
		include ../sections/section-services
	section.main-content__sections#price
		include ../sections/section-price
	section.main-content__sections#stage
		include ../sections/section-stageswork
	section.main-content__sections#products
		include ../sections/section-products
	section.main-content__sections#partners
		include ../sections/section-partners 
	section.main-content__order-place#order
		include ../sections/section-order
block cookies
	include ../modules/cookies-accept
block personal-data
	include ../chunks/personal-data
