.preloader
	._content
		svg.preloader__image(role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
			path(fill="#211041" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z")
	//- svg
		g
			path(d="M 50,100 A 1,1 0 0 1 50,0")
		g
			path(d="M 50,75 A 1,1 0 0 0 50,-25")
		defs
			linearGradient#gradient(x1="0%" y1="0%" x2="0%" y2="100%")
				stop(offset="0%" style="stop-color:#e887be;stop-opacity:1")
				stop(offset="100%" style="stop-color:#9465ae;stop-opacity:1")
	._title 
		span « Horizon »
		span Sewing industry
