.check-box
	label._label
		input(type="checkbox" name="policy" id="agreement")._input
		span._icon
			+iconfont('angle-down', '_icon') 
	span._text Пользуясь сайтом или&nbsp;отправляя любые формы запросов, Вы соглашаетесь с&nbsp;условиями «
		a(href="#" target="_blank" rel="noopener noreferrer").policy
			strong Полтики&nbsp;конфиденциальности
		| »