.check-box
	input(type="checkbox" name="policy" id="agreement")._input
	label(for="agreement")._label
		span._icon
			+iconfont('angle-down', '_icon') 
		span Пользуясь сайтом или&nbsp;отправляя любые формы запросов, Вы соглашаетесь с&nbsp;условиями 
			a(type="button" target="_blanck").policy
				strong «Полтики&nbsp;конфиденциальности»