.personal-data
	._body._container 
		._icon-text 
			a(href="#")._doc.link_underline-center Скачать документ pdf
			._icon
				+iconfont('plus', '_icon')
		._content
			._title  
				h2.t-h2 
					span Политика в отношении обработки и защиты персональных данных
			._content
				strong Редакция от 6 июля 2025 г.
				p Политика конфиденциальности (политика в отношении обработки и защиты персональных данных) определяет порядок сбора и обработки персональных данных и иной конфиденциальной информации, получаемой в процессе использования веб-сайта 
					a(href="https://f-gorizont.by/") f-gorizont.by. 
				| Политика разработана для защиты прав и свобод пользователей веб-сайта 
				a(href="https://f-gorizont.by/") f-gorizont.by
				| при обработке персональных данных, а также для четкого и неукоснительного соблюдения требований законодательства РФ в области персональных данных, в том числе требования Федерального закона от 27.07.2006 №152-ФЗ "О персональных данных".
				h3.t-h3
					span 1. Общие положения
				p 1.1. Политика в отношении обработки и защиты персональных данных (далее — Политика) направлена на обеспечение защиты прав субъектов персональных данных, обрабатываемых ООО "ДАТА МАКСИМУМ" в рамках хозяйственной деятельности, соблюдения их конфиденциальности и безопасности процессов их обработки, а также в целях исполнения требований законодательства Российской Федерации.
				p 1.2. Настоящая Политика раскрывает основные принципы и правила, используемые ООО "ДАТА МАКСИМУМ" при обработке персональных данных, в том числе определяет цели, правовые основания, условия и способы такой обработки, категории субъектов персональных данных, данные которых обрабатываются ООО "ДАТА МАКСИМУМ", а также содержит сведения об исполнении ООО "ДАТА МАКСИМУМ" обязанностей в соответствии с требованиями законодательства Российской Федерации и сведения о реализуемых требованиях к защите обрабатываемых персональных данных. Политика действует в отношении всех персональных данных, обрабатываемых ООО "ДАТА МАКСИМУМ".
				p 1.3. Политика содержит сведения, подлежащие раскрытию в соответствии с ч. 1 ст. 14 Федерального закона от 27.07.2006 №152-ФЗ "О персональных данных", и является общедоступным документом, подлежащим размещению на данном сайте по адресу 
					a(href="https://f-gorizont.by/") https://f-gorizont.by.
				h3.t-h3 
					span 2. Термины и сокращения, используемые в Политике
				p 2.1. Сайт — информационный сервис, веб-интерфейс которого доступен в информационно-телекоммуникационной сети общего пользования "Интернет" по адресу с доменным именем второго уровня 
					a(href="https://f-gorizont.by/") https://f-gorizont.by, 
					| включающий поддомены указанного домена второго уровня, а также все связанное с указанным ресурсом программное обеспечение и базы данных, обеспечивающие его функционирование.
				p 2.2. Оператор — компания "ГОРИЗОНТ", осуществляющая создание, развитие и техническую поддержку Сайта.
				p 2.3. Пользователь — физическое лицо, использующее Сайт (субъект персональных данных). Если в тексте документа использованы местоимения "вы", "вам", "вас" или "ваш", то речь идет о Пользователях.
				p 2.4. Персональные данные — любая информация, относящаяся к определенному или определяемому на основании такой информации физическому лицу (субъекту персональных данных)
				p 2.5. Обработка Персональных данных или Обработка — любое действие (операция) или совокупность действий (операций) с Персональными данными, совершаемых с использованием средств автоматизации или без их использования, в том числе: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.
				h3.t-h3 
					span 3. Сведения об операторе, правовые основания и цели обработки Персональных данных
				p 3.1. В соответствии с требованиями действующего законодательства Российской Федерации Оператор определяет цели обработки Персональных данных, состав Персональных данных, подлежащих обработке, действия (операции), совершаемые с Персональными данными, организует и осуществляет обработку Персональных данных, а также организует и обеспечивает защиту обрабатываемых Персональных данных.
				p 3.2. Сведения об операторе
				p 
					strong ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ВИТЕБСКАЯ ШВЕЙНАЯ ФАБРИКА ГОРИЗОНТ"
				p Юридический адрес: Республика Беларусь, г. Витебск, ул. Зеленогурская 12Б
				p Адрес электронной почты: 
					a(href="mailto:fabrika-gorizont@yandex.ru") fabrika-gorizont@yandex.ru
				p ОГРН 1224000000278
				p ИНН 4027148080
				p КПП 402701001
				p 3.3. Правовые основания обработки Персональных данных
				p Оператор обрабатывает Персональные данные на законной и справедливой основе для выполнения возложенных законодательством функций, полномочий и обязанностей, осуществления прав и законных интересов Оператора, работников Оператора и третьих лиц.
				p Оператор осуществляет деятельность в области обработки Персональных данных на основании и в соответствии с требованиями действующего законодательства РФ, в том числе:
