//- Price block with BEM methodology
.price-block
	.price-block__body
		.price-block__content
			.price-block__header
				h2.price-block__title.t-h2 Прайс-лист
				p.price-block__subtitle.p-text-20 Цены на пошив одежды

			.price-block__items
				//- Item 1
				.price-block__item
					.price-block__item-info
						h3.t-h3.price-block__item-name Модель 2229
						.price-block__item-description Зауженный с выточками

					.price-block__item-price
						span.price-block__price.p-text-20 494 руб

				//- Item 2
				.price-block__item
					.price-block__item-info
						h3.t-h3.price-block__item-name Модель 2898
						.price-block__item-description Зауженный

					.price-block__item-price
						span.price-block__price.p-text-20 512 руб

				//- Item 3
				.price-block__item
					.price-block__item-info
						h3.t-h3.price-block__item-name Модель 0040
						.price-block__item-description Зауженный с рельефами по спинке

					.price-block__item-price
						span.price-block__price.p-text-20 303 руб

				//- Item 4
				.price-block__item
					.price-block__item-info
						h3.t-h3.price-block__item-name Модель 2259
						.price-block__item-description Прилегающий

					.price-block__item-price
						span.price-block__price.p-text-20 268 руб

				//- Item 5
				.price-block__item
					.price-block__item-info
						h3.t-h3.price-block__item-name Модель 0297
						.price-block__item-description Прилегающий с выточками

					.price-block__item-price
						span.price-block__price.p-text-20 600 руб

				//- Item 6
				.price-block__item
					.price-block__item-info
						h3.t-h3.price-block__item-name Модель 53
						.price-block__item-description Полуприталенный

					.price-block__item-price
						span.price-block__price.p-text-20 550 руб

				//- Item 7
				.price-block__item
					.price-block__item-info
						h3.t-h3.price-block__item-name Модель 54
						.price-block__item-description Приталенный с выточками

					.price-block__item-price
						span.price-block__price.p-text-20 268 руб

				//- Item 8
				.price-block__item
					.price-block__item-info
						h3.t-h3.price-block__item-name Модель 56
						.price-block__item-description Классический со складками по спинке

					.price-block__item-price
						span.price-block__price.p-text-20 251 руб
		.price-block__button
			a(href="./catalog.html").button 
				span Перейти в каталог