@use '../core/variables' as *;

.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	min-height: 100vh;
	z-index: 19;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	background: $color-fill;
	transition: opacity 0.7s ease-in-out;

	// .preloader__wr-loader-1
	&__wr-loader {
		position: absolute;
		top: 55%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
	}

	// .preloader__loader
	&__loader {
		position: relative;
		width: 1em;
		height: 1em;
		color: $color-Rouse;
		font-size: 90px;
		text-indent: -9999em;
		overflow: hidden;
		border-radius: 50%;
		margin: 72px auto;
		transform: translateZ(0);
		animation:
			load 1.7s infinite ease,
			round 1.7s infinite ease;
	}

	// .preloader__content
	&__content {
		border: 1px solid #000;
		position: relative;
		min-height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .preloader_image
	// &__image {
	// 	position: relative;
	// 	z-index: -1;
	// 	left: 0;
	// 	width: 100px;
	// 	height: 100px;
	// 	margin: 0 auto;
	// 	text-align: center;
	// 	margin-top: 5%;
	// 	animation: preloader-rotate 2s infinite linear;

	// 	svg {
	// 		filter: drop-shadow(3px 3px 3px rgba(123, 123, 255, 0.836));
	// 		text-shadow: 3px 3px 19px #000;
	// 	}
	// }

	// .preloader__title
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4rem;
		position: absolute;
		z-index: 1;
		min-height: 100vh;
		padding: 8rem 2rem;

		span {
			display: block;
			font-size: clamp(
				1.4375rem,
				calc(1.2427125rem + 10.051875vw),
				12.489375rem
			);

			&:nth-child(1),
			&:nth-child(2) {
				animation: anime-title 3s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
				text-shadow: 7px 7px 15px #030303;
			}

			&:nth-child(1) {
				position: relative;
				-webkit-text-stroke: 2px $color-Rouse;
				display: flex;
				justify-content: center;
			}

			&:nth-child(2) {
				-webkit-text-stroke: 2px $color-Rouse;
				animation: anime-title-r 3s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
			}
		}
	}

	&.preloader-remove {
		opacity: 0;
	}
}

@keyframes anime-title-r {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes anime-title {
	0% {
		transform: translateY(50%);
	}
	50% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(50%);
	}
}

//* ----------------------------------------------------------------------------

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}
//* ----------------------------------------------------------------------------
@keyframes load {
	0% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}

	5%,
	95% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em,
			-0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em,
			-0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			-0.377em -0.74em 0 -0.42em,
			-0.645em -0.522em 0 -0.44em,
			-0.775em -0.297em 0 -0.46em,
			-0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow:
			0 -0.83em 0 -0.4em,
			0 -0.83em 0 -0.42em,
			0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em,
			0 -0.83em 0 -0.477em;
	}
}

@keyframes round {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
