.footer#contacts._container
	._body 
		._content
			._top
				._column  
					a(href="#content" data-letters="Home-page")._logo._link-key.anchor-link
						img(src="@@webRoot/img/icons/horizon-lght.svg" alt="logo") 
					._info
						p 
							strong УНП&emsp; 
							span 391933435
						p 
							strong ИНН&emsp; 
							span 7777777777
						p 
							strong ОКВЭД&emsp;
							span 77.77
				._column 
					._title 
						h5.t-h5 
							span Навигация: 
					ul._menu
						li._item
							a(href="#about" data-letters="О нас")._link-key.anchor-link.link_underline-center О нас 
						li._item
							a(href="#services" data-letters="Услуги")._link-key.anchor-link.link_underline-center Услуги
						li._item
							a(href="#price" data-letters="Услуги")._link-key.anchor-link.link_underline-center Цены 
						li._item
							a(href="#stage" data-letters="Услуги")._link-key.anchor-link.link_underline-center Этапы работы
						li._item
							a(href="#products" data-letters="Услуги")._link-key.anchor-link.link_underline-center Продукция   
						li._item
							a(href="#partners" data-letters="Услуги")._link-key.anchor-link.link_underline-center Наши партнёры 
				._column 
					._title 
						h5.t-h5 
							span О компании:
					._text 
						p Вид деятельности:
						p Швейное производство
						p Предприятие работает на&nbsp;белорусском и&nbsp;российсском рынках с&nbsp;1997 года. 
						p Фабрика имеет опыт работы на&nbsp;рынке Евросоюза. 
				._column 
					._title 
						h5.t-h5 
							span Наши контакты:
					._contacts 
						._item 
							+iconfont('location', '_icon')
							p 210007, Республика Беларусь  
						._item 
							p Витебская область  
						._item 
							p г. Витебск, ул. Зеленогурская 12Б
						._item 
							+iconfont('phone-ringing', '_icon')
							p Телефон: 
								strong +375 33 317-67-40 
						._item 
							p (МТС,&nbsp;Viber,&nbsp;Telegram,&nbsp;WatsApp)
						._item 
							p E-mail:&nbsp; 
								a(href="mailto:fabrika-gorizont@yandex.ru") 
									em fabrika-gorizont@yandex.ru
				._column 
					._title 
						h5.t-h5 
							span Присоединяйтесь к&nbsp;нам:
					._line
						._icon
							+iconfont('vk-brand', '_icon')
						._icon
							+iconfont('whatsapp', '_icon')
						._icon
							+iconfont('telegram-fly', '_icon')
						._icon
							+iconfont('viber', '_icon')
			._bottom 
				._column
					._politics
						._info-col
							a(href="#" )._link Политика конфиденциальности
							p ООО «Витебская швейная фабрика Горизонт» &copy; 2025
						._info-col
							a(href="https://gusli-studio.ru/" target="_blank" rel="noopener noreferrer") Сайт разработан творческой студией «Gusli Media-Group» 