.header
	._container
		._content
			a(href="@@webRoot/index.html")._column.el-logo 
				._logo-wrpper 
					._logo
						img(src="@@webRoot/img/icons/horizon.svg" alt="logo") 
			._column 
				ul._menu(data-da="bp-1" data-da-position="0" data-da-resolution="10" )
					li._item
						a(href="#project" data-letters="Работа")._link-key.anchor-link.link_underline-center
							| Работа 
					li._item
						a(href="#about" data-letters="Вакансии")._link-key.anchor-link.link_underline-center 
							| Вакансии
					li._item
						a(href="#contacts" data-letters="Контакты")._link-key.anchor-link.link_underline-center 
							| Контакты
				._phone
					span +375 33 317-67-40 
			._column
				._button 
					include ../modules/burger-button
				.network-menu 
					._body
						._links
							svg._circle-svg(width="92" height="184")
								g._rings(width="92" height="184")
									// Facebook
									g._ring
										a._social-link(href="#")
											path.ring(d="M 91.99999999999999 42 L 91.99999999999999 10 A 82 82 0 0 0 34.01724394270309 34.01724394270311 L 56.644660940672615 56.64466094067263 A 50 50 0 0 1 91.99999999999999 42" fill="#b487b9" stroke="#b487b9" stroke-width="0.5px" data-index="3")
											use(x="56.742893463904096" y="22.02395085425507" width="20px" height="18px" xlink:href="img/sprites/sprite.svg#vk-icon")
									g._ring
										a._social-link(href="#")
											path.ring( d="M 56.644660940672615 56.64466094067263 L 34.01724394270309 34.01724394270311 A 82 82 0 0 0 10 92.00000000000001 L 42 92 A 50 50 0 0 1 56.644660940672615 56.64466094067263" fill="#c297c2" stroke="#c297c2" stroke-width="0.5px" data-index="2" )
											use(x="21.023950854255062" y="56.74289346390411" width="20px" height="20px" xlink:href="./img/sprites/sprite.svg#whatsapp")
									g._ring
										a._social-link(href="#")
											path.ring(d="M 42 92 L 10 92.00000000000001 A 82 82 0 0 0 34.01724394270311 149.9827560572969 L 56.64466094067263 127.35533905932738 A 50 50 0 0 1 42 92" fill="#cfaecd" stroke="#cfaecd" stroke-width="0.5px" data-index="1" )
											use(x="20.023950854255077" y="107.25710653609593" width="22px" height="22px" xlink:href="./img/sprites/sprite.svg#telegram") 
									g._ring
										a._social-link(href="#")
											path.ring(d="M 56.64466094067263 127.35533905932738 L 34.01724394270311 149.9827560572969 A 82 82 0 0 0 92 174 L 92 142 A 50 50 0 0 1 56.64466094067263 127.35533905932738" fill="#d7bad3" stroke="#d7bad3" stroke-width="0.5px" data-index="0" )
											use(x="55.74289346390408" y="142.47604914574492" width="20px" height="20px" xlink:href="img/sprites/sprite.svg#youtube") 
				//- ._burger-button
					include ../modules/burger-button

