@use '../core/variables' as *;
@use '../core/mixins' as *;

.order-place {
  // .order-place__body
  &__body {
    padding: 6rem 2rem;
    max-width: 86.8rem;
    margin: 0 auto;
    border-radius: 4px;
    background: $background-color;
    box-shadow: 3px 3px 10px 0 rgb(36, 18, 33);
  }

  // .order-place__title
  &__title {
    text-align: center;
    filter: contrast(150%);
  }

  // .order-place__form
  &__form {
    margin-top: 4rem;
  }
}

.order-form {
  // .order-form__line
  &__line {
    display: flex;
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    @include screen-490 {
      flex-direction: column;
    }
  }

  // .order-form__col-line
  &__col-line {
    flex: 0 1 50%;
  }

  // .order-form__input
  &__input {
    border-radius: 4px;
    border: 1px solid $color-Rouse;
    color: $text-color;

    input {
      padding: 10px;
      width: 100%;
      height: 100%;
      filter: contrast(150%);
      font-weight: 500;
      transition: box-shadow 0.3s ease-in-out;

      &:focus {
        box-shadow: 3px 3px 5px 0 rgb(36, 18, 33, 0.2);
      }
    }
  }

  // .order-form__lebel
  &__lebel {
    width: 100%;
  }

  // .order-form__select-tipe
  &__select-tipe {
    position: relative;
  }

  .button {
    width: 100%;
  }
}
