@use '../core/variables' as *;
@use '../core/mixins' as *;

.about {
	// .about__body
	&__body {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	// .about__title
	&__title {
		padding: 0 5rem;
		text-align: right;
		margin-bottom: 8rem;
	}

	// .about__content
	&__content {
		position: relative;
	}

	// .about__column
	&__column {
		&:nth-child(1) {
			position: relative;
			z-index: 9;
			max-width: 37%;
			float: right;

			clip-path: polygon(
				1.2% -2px,
				100% 0px,
				99.97% 99.96%,
				8.31% 100.17%,
				8.06% 83.05%,
				7.67% 40.4%,
				3px 20.88%
			);
			shape-outside: polygon(
				1.2% -2px,
				100% 0,
				99.97% 99.96%,
				8.31% 100.17%,
				8.06% 83.05%,
				7.67% 40.4%,
				4px 30.04%,
				4px 16.35%
			);

			@include screen-1920 {
				margin-block: auto;
			}
		}

		&:nth-child(2) {
			position: relative;
			z-index: 1;
		}
	}

	// .about__title-text
	&__title-text {
		transform: scaleY(1.2);
		filter: contrast(180%);
		margin-bottom: 3rem;
	}

	// .about__text
	&__text {
		filter: contrast(180%);
		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		.t-h3 {
			line-height: 100%;
			margin-bottom: 2rem;
		}

		p {
			color: $color-fill !important;
			transform: scaleY(1.2);
			line-height: 120%;

			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
	}

	// .about__pictures
	&__pictures {
		display: grid;
		grid-template-columns: repeat(5, 20%);
		grid-template-rows: repeat(5, 20%);
	}

	// .about__image
	&__image {
		border-radius: 0.5rem;
		background-position: center;
		// display: flex;

		img {
			background-color: #fff;
			// max-width: fit-content;
			// max-height: fit-content;
			// height: fit-content;
			border-radius: 1rem;
			overflow: hidden;
			vertical-align: top;
			padding: 1rem;
			// object-position: 100% 100%;
			object-fit: contain;
		}

		&:nth-child(1) {
			grid-column: 3/ 6;
			grid-row: -6 / -1;
		}

		&:nth-child(2) {
			z-index: 1;
			grid-column: 1 / 3;
			grid-row: 1 / 2;

			img {
				height: auto;
			}
		}

		&:nth-child(3) {
			z-index: 3;
			grid-column: 1 / 3;
			grid-row: 3 / 6;
			display: flex;
			align-items: end;
			img {
				height: auto;
				transform: translateX(20%);
			}
		}

		&:nth-child(4) {
			z-index: 2;
			grid-column: 1 /3;
			grid-row: 2 / 3;

			img {
				padding: 0;
				background: none;
				transform: rotate(0) translate(-10%, 20%);
				filter: drop-shadow(0 -4px 5px rgba(0, 0, 0, 0.5));
			}
		}

		&:nth-child(5) {
			z-index: 9;
			grid-column: 1/ 2;
			grid-row: 6 / 7;

			img {
				padding: 0;
				background: none;
				margin-top: -3rem;

				transform: rotate(45deg);
				filter: drop-shadow(0 -4px 5px rgba(0, 0, 0, 0.5));
			}
		}

		&:nth-child(6) {
			z-index: 9;
			grid-column: -6 / -5;
			grid-row: 6 / 7;

			img {
				padding: 0;
				background: none;
				margin-top: -3rem;
				transform: rotate(45deg) translate(0, 0);
				filter: drop-shadow(0 -4px 5px rgba(0, 0, 0, 0.5));
			}
		}

		&:nth-child(7) {
			z-index: 9;
			grid-column: -5 / -4;
			grid-row: 6 / 7;

			img {
				padding: 0;
				background: none;
				margin-top: -3rem;
				transform: rotate(45deg) translate(0, 0);
				filter: drop-shadow(0 -4px 5px rgba(0, 0, 0, 0.5));
			}
		}
		&:nth-child(8) {
			z-index: 9;
			grid-column: -4 / -3;
			grid-row: -2 / -1;

			img {
				padding: 0;
				background: none;
				margin-top: -3rem;
				transform: rotate(45deg) translate(0, 0);
				filter: drop-shadow(0 -4px 5px rgba(0, 0, 0, 0.5));
			}
		}
		&:nth-child(9) {
			z-index: 9;
			grid-column: -3 / -2;
			grid-row: -2 / -1;

			img {
				padding: 0;
				background: none;
				margin-top: -3rem;
				transform: rotate(45deg) translate(0, 0);
				filter: drop-shadow(0 -4px 5px rgba(0, 0, 0, 0.5));
			}
		}
		&:nth-child(10) {
			z-index: 9;
			grid-column: -2 / -1;
			grid-row: -2 / -1;

			img {
				padding: 0;
				background: none;
				margin-top: -3rem;
				transform: rotate(45deg) translate(0, 0);
				filter: drop-shadow(0 -4px 5px rgba(0, 0, 0, 0.5));
			}
		}
	}
}
