@use 'core/all.scss' as *;

.vertical-reverse {
	height: 100vh;
	transform: translateY(-10px);
	z-index: 9;
}

// .clipped-box {
// 	mask-repeat: no-repeat;
// 	mask-size: 100%;
// 	z-index: 0;
// }

.perform {
	z-index: 11;
	height: calc(100vh - 36rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 18rem;
	padding-bottom: 18rem;

	@include screen-960 {
		height: 100%;
		padding-top: 14rem;
		padding-bottom: 14rem;
	}

	// .perform__body
	&__body {
		position: relative;
		display: flex;
		align-items: center;
	}

	// .perform__content
	&__content {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		gap: 1.6rem;
		backdrop-filter: blur(10px);

		@include screen-620 {
			flex-direction: column;
		}
	}

	// .perform__column
	&__column {
		flex: 0 1 50%;
		padding-top: 4rem;
		overflow: hidden;
		display: flex;

		&:nth-child(1) {
			flex: 0 1 auto;
			flex-direction: column;
			padding-top: 6.5rem;

			@include screen-620 {
				padding-top: 4rem;
			}
		}

		&:nth-child(2) {
			flex-direction: column;
			justify-content: center;
			border-radius: 0.4rem;
			min-width: 260px;

			.perform__items {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			@include screen-960 {
				flex: 0 1 40%;
			}
		}
	}

	// .perform__items
	&__items {
		padding: 2rem 0.5rem;
	}

	//  .perform__item
	&__item {
		filter: contrast(190%);
	}

	// .perform__text
	&__text {
		position: relative;
		color: $color-warm;
		border-radius: 2rem;

		.t-01 {
			filter: contrast(190%);
		}
	}

	// .perform__float-left
	&__float-left {
		position: relative;
		height: 100%;

		&.hide {
			float: left;
			shape-outside: polygon(0px 28px, 0px 100%, 30% 100%);
			width: 90%;
			opacity: 0;
		}
	}
}

.hgroup-items {
	h1 {
		line-height: 100%;
		text-transform: uppercase;
		margin-bottom: 2rem;
	}

	h2 {
		line-height: 100%;
		margin-bottom: 2.5rem;
		text-transform: uppercase;
	}

	p {
		line-height: 135%; /* 25/16 */

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	// .hgroup-items__item
	&__item {
		position: relative;
	}
}
