@use 'core/all.scss' as *;

.vertical-reverse {
	height: 100vh;
	// transform: translateY(-10px);
	z-index: 9;
}

.perform {
	z-index: 11;

	// .perform__body
	&__body {
		position: relative;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	// .perform__content
	&__content {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		gap: 1.6rem;
		backdrop-filter: blur(10px);

		@include screen-768 {
			flex-direction: column;
		}
		@include screen-768 {
			height: 100%;
		}
	}

	// .perform__column
	&__column {
		flex: 0 1 50%;
		padding-top: 2rem;

		&:nth-child(1) {
			padding-top: 6.5rem;

			@include screen-620 {
				padding-top: 4rem;
			}
		}

		&:nth-child(2) {
			border-radius: 0.4rem;
			min-width: 260px;

			.perform__items {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			@include screen-768 {
				padding-top: 0;
			}
		}
	}

	// .perform__items
	&__items {
		padding: 2rem 0.5rem;
	}

	//  .perform__item
	&__item {
		// filter: contrast(190%);
	}

	// .perform__text
	&__text {
		position: relative;
		border-radius: 2rem;

		.t-01 {
		}
	}

	// .perform__shape-block
	&__shape-block {
		width: 100%;
		float: left;
		shape-outside: polygon(0px 28px, 0px 130%, 30% 130%);
		opacity: 0;
	}

	// .perform__text-block
	&__text-block {
		height: auto;

		p {
			color: $color-fern;
			line-height: 115%; /* 25/16 */
			filter: contrast(160%);
			transform: scaleY(1.2);
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}

	// .perform__footer
	&__footer {
		position: absolute;
		bottom: 0;
		width: 100%;

		.arrow {
			margin: 4rem auto -2rem;
			width: 3.8rem;
			height: 10rem;

			span {
				display: block;
				width: 3rem;
				height: 3rem;
				border-bottom: 0.5rem solid #a58e7498;
				border-right: 0.5rem solid $color-natural;
				transform: rotate(45deg);
				margin: -1.6rem 0;
				opacity: 0;

				&:nth-child(2) {
					animation-delay: -0.2s;
				}

				&:nth-child(3) {
					animation-delay: -0.4s;
				}
			}

			&.anime {
				span {
					opacity: 1;
					animation: arrow 2s infinite;
				}
			}
		}
	}
}
@keyframes arrow {
	0% {
		opacity: 0;
		transform: translate(0, -20px) rotate(45deg);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(0, 20px) rotate(45deg);
	}
}
.hgroup-items {
	h1,
	h3 {
		color: $color-fern;
		line-height: 100%;
		text-transform: uppercase;
		margin-bottom: 2rem;
		filter: contrast(180%);
	}
	h3 {
		transform: scaleY(1.2);
	}

	// .hgroup-items__item
	&__item {
		position: relative;
	}
}
