@use '../core/variables' as *;
@use '../core/mixins' as *;

.services {
	// .services__title
	&__title {
		h2 {
			background-color: $background-color;
		}
	}

	// .services__content
	&__content {
		position: relative;
		display: grid;
		grid-template-columns: repeat(3, minmax(200px, 1fr));
		gap: 2rem;

		@include screen-768 {
			grid-template-columns: repeat(2, minmax(200px, 1fr));
		}

		@include screen-690 {
			grid-template-columns: repeat(1, minmax(200px, 1fr));
		}
	}

	// .services__column
	&__column {
		height: 100%;

		&:nth-child(6) {
			.card__text {
				color: $background-color !important;
			}
			.card__info {
				max-width: 100%;
				text-align: right;
			}
		}
	}
}

.card {
	padding: 2rem 1.5rem 2.4rem;
	box-shadow: 3px 3px 10px 0px rgba(36, 18, 33, 0.3);
	background: $color-Rouse;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	height: 100%;

	// card__title
	&__title {
		position: relative;
		display: flex;
		align-items: center;
		gap: 1.6rem;
		margin-bottom: 2rem;
	}

	// .card__text
	&__text {
		flex: 1 1 auto;
		filter: contrast(180%);

		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		p {
			transform: scaleY(1.2);
			line-height: 120%;

			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
	}

	&__icon {
		max-width: 7rem;
		width: 100%;

		img {
			width: 100%;
			display: block;
		}

		._icon {
			color: $color-blue;
			filter: contrast(190%);
			font-size: 7rem;

			&::before {
				font-weight: 300;
			}
		}
	}

	.icon-information-outline {
		font-size: 4rem;
		color: $background-color;
	}
}
