@use 'core/all.scss' as *;

.partners {
	// .partners__title
	&__title {
		h2 {
			background-color: $background-color;
		}
	}

	// .partners__content
	&__content {
		padding: 4rem 0;
	}
}

.partners-slide {
	// .partners-slide__body
	&__body {
		overflow: hidden;
	}

	// .partners-slide__column
	&__column {
		display: flex;
		justify-content: space-between;
	}

	// .partners-slide__image
	&__image {
		max-height: 70px;
		display: flex;
		justify-content: center;

		img {
			object-fit: fill;
			height: auto;
			width: auto;
			object-position: auto 100%;
			aspect-ratio: 600 / 140;
			filter: grayscale(1);
		}
	}
}
