@use '../core/variables' as *;
@use '../core/mixins' as *;

.price {
	// .price__title
	&__title {
		h2 {
			background-color: $primary-color;
		}

		.t-h4 {
			margin-top: 1rem;
		}
	}

	// .price__hgroup
	&__hgroup {
		display: inline-block;
	}

	// .price__content
	&__content {
		position: relative;
	}

	// .price__column
	&__column {
		height: 100%;
	}

	// .price__row
	&__row {
		display: flex;
		justify-content: flex-end;
		gap: 2rem;

		@include screen-768 {
			&:nth-child(1) {
				flex-direction: column;
				align-items: flex-end;
			}
		}
	}

	// .price__info
	&__info {
		padding: 2rem;

		&:nth-child(1) {
			border: 1px solid $background-color;
			height: fit-content;
			border-radius: 4px;
			max-width: fit-content;
			text-align: right;
			flex: 0 1 66.2%;
		}

		&:nth-child(2) {
			background-color: $background-color;
			border-radius: 4px;
			box-shadow: 3px 3px 10px 0 rgba(36, 18, 33, 0.3);
			// max-width: calc(33.333% - 2rem);
			flex: 0 1 calc(33.8% - 2rem);
			filter: contrast(103%);

			p {
				strong {
					color: $color-Rouse;
					text-transform: uppercase;
				}
			}

			@include screen-768 {
				min-width: 100%;
			}
		}

		p {
			filter: contrast(150%);
			transform: scaleY(1.1);
		}
	}
}
