@use '../core/variables' as *;
@use '../core/mixins' as *;

.stages-work {
  background: linear-gradient(90deg, #cce4f7, #ebd2fb);
  &::before {
    background: transparent;
  }
  // .stages-work__title
  &__title {
    h2 {
      // color: $background-color;
      // background-color: $background-color;
      // background: linear-gradient(90deg, #48386b, #e8c4ff);
    }
  }

  // .stages-work__content
  &__content {
    display: flex;
    gap: 2rem;

    @include screen-690 {
      flex-direction: column-reverse;
    }
  }

  // .stages-work__column
  &__column {
    flex: 0 1 50%;

    &:nth-child(2) {
      display: flex;
      flex-wrap: wrap;
      max-width: 701px;
      min-height: 640px;
      flex-grow: 1;
      position: relative;
    }
  }

  // .stages-work__list
  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .stages-work__item
  &__item {
    border-radius: 4px;
    height: auto;
    width: 50%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    ._icon {
      font-size: 6rem;
      color: $color-fill;
      // filter: contrast(150%);
    }
  }

  &__icon {
    .icon-hand-shake {
      &::before {
        font-weight: 300;
        opacity: 0.8;
      }
    }

    .icon-services {
      &::before {
        font-weight: 100;
        opacity: 0.8;
      }
    }
  }

  &__text {
    text-transform: uppercase;
    font-weight: 600;
    filter: contrast(150%);
  }

  // .stages-work__item--bd-right
  &__item--bd-right {
    border-right: 1px solid #d1c6dd;
  }

  // .stages-work__item--bd-bottom
  &__item--bd-bottom {
    border-bottom: 1px solid #d1c6dd;
  }
}

.tab-list {
  // .stages-work__number
  &__number {
    font-weight: 700;
    border: 1px solid $color-fill;
    font-size: 3rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 3rem;
  }

  // .stages-work__list-item
  &__list-item {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid #d1c6dd;
  }

  // .stages-work__text
  &__item-text {
    max-width: calc(100% - 120px);
    line-height: 120%;

    strong {
      font-weight: 400;
    }
  }
}
