@use '../core/variables' as *;
@use '../core/mixins' as *;

.price {
	background-color: $color-Blue;

	// .price__title
	&__title {
		h2 {
			background-color: $color-Blue;
		}
	}

	// .price__content
	&__content {
		position: relative;
	}

	// .price__column
	&__column {
		height: 100%;
	}

	// .price__row
	&__row {
		display: flex;
		justify-content: flex-end;
		gap: 3rem;
	}

	// .price__info
	&__info {
		padding: 2rem;

		&:nth-child(1) {
			border: 1px solid $background-color;
			height: fit-content;
			border-radius: 0.5rem;
			// max-width: 31.93%;
		}

		&:nth-child(2) {
			background-color: $background-color;
			border-radius: 0.4rem;
			filter: contrast(103%);
			max-width: 31.93%;
			p {
				strong {
					color: $color-Rouse;
				}
			}
		}

		p {
			filter: contrast(150%);
			transform: scaleY(1.1);
		}
	}
}
