@use '../core/variables' as *;
@use '../core/mixins' as *;

.stage-swork {
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background: $color-fill;
		opacity: 0.3;
		top: 8rem;
	}

	// .stage-swork__body
	&__body {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	// .stage-swork__title
	&__title {
		text-align: right;
		margin-bottom: 4rem;
		margin-top: -3.8rem;

		h2 {
			background-color: $background-color;
			padding: 0.5rem 4rem;
			display: inline-block;

			span {
				filter: contrast(150%);
			}
		}
	}
}
