@use '../core/variables' as *;
@use '../core/mixins' as *;

.stage-swork {
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background: $color-fill;
		opacity: 0.3;
		top: 8rem;
	}

	// .stage-swork__title
	&__title {
		h2 {
			background-color: $background-color;
		}
	}
}
